@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: Nunito, sans-serif;
  --font-secondary: Pacifico, sans-serif;

  --color-primary: #e8407b;
  --color-primary-tint: #fad9e5;
  --color-primary-shade: #d13a6f;

  --color-grey-primary: #555;
  --color-grey-secondary: #333;

  --spacing-8xl: 1440px;
}

body {
  font-family: Nunito, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--text-grey-primary);
}

/*

--- 01 TOPOGRAPHY SYSTEM

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights:
- Default: 400
- Medium: 500
- Semi-bold: 600
- Bold: 700

Line heights:
Default: 1
1.05
1.2
1.6

Letter spacing:
-o.5px
0.75px

--- 02 COLORS
- Primary: #E8407B
- Tints: #fad9e5
- Shades: #d13a6f
- Accents:
- Greys: #555
#333


--- 05 SHADOWS

--- 06 BORDER RADIUS

- Default: 9px

--- 07 WHITESPACE

Spacing system (px) (margin)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 */
